* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


#app {
    width: 100%;
    height: 100%;
  
    /* 设置线性渐变颜色 */
    background: linear-gradient(to right, #d7d7d7, #9ec2cc);
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

